* {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Basics */

.text-center {
  text-align: center !important;
}

.text-light {
  color: #fff !important;
}

.text-light-muted {
  color: #cfcfcf !important;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Margins */

.mb-5 {
  margin-bottom: 3rem !important;
}

@media (min-width: 768px) {
  .mb-md-0 {
    margin-bottom: 0 !important;
  }
}

/* Container */

.container {
  width: 90%;
  padding: 0 1rem;
  margin: 0 auto;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  flex-wrap: wrap;
}

.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar .navbar-brand {
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 600;
  color: #007a5c;
}

.navbar .navbar-brand img {
  height: 1.5em;
}

.navbar .navbar-toggler {
  padding: 0.25rem;
  font-size: 1.5rem;
  background-color: transparent;
  color: #000;
  border: 1px solid #333;
  border-radius: 0.25rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.collapse {
  display: none;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin-left: auto;
  text-transform: uppercase;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  flex-direction: column;
  padding: 1.5rem 0;
}

.nav-link {
  display: block;
  font-family: "Montserrat";
  font-size: 0.8rem;
  color: #000;
  text-decoration: none;
  padding: 0.5rem 0;
}

@media (min-width: 992px) {
  .navbar {
    padding: 1.25rem 0;
    transition: 0.25s;
  }

  .navbar-shrink {
    padding: 0.75rem 0;
  }

  .navbar .navbar-brand img {
    height: 1.75em;
  }

  .navbar .navbar-toggler {
    display: none;
  }

  .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-nav {
    flex-direction: row;
    padding: 0;
  }

  .navbar-nav .nav-item {
    margin-left: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
}

/* Masthead */

header.masthead {
  padding-top: 17rem;
  padding-bottom: 12.5rem;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../img/header.jpg);
  background-size: cover;
}

header.masthead .masthead-subheading {
  font-size: 1.5rem;
  color: #cfcfcf;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

header.masthead .masthead-heading {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 4rem;
}

.btn {
  display: inline-block;
  line-height: 1.5;
  color: #000;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.5rem 1.75rem;
  font-size: 1rem;
  border-radius: 50px;
  border: none;
}

.btn-primary {
  color: #fff;
  background-color: #007a5c;
}

.btn-xl {
  padding: 0.75rem 2.5rem;
  font-size: 1.125rem;
}

/* Page Section */

.page-section {
  padding: 6rem 0;
}

.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 4rem;
  color: #6c757d;
}

/* Row & Column*/

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > * {
  width: 100%;
  max-width: 100%;
  padding: 0 0.75rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 576px) {
  .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .col-lg-6 {
    width: 50%;
  }
}

/* Card */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-img {
  width: 100%;
}
.card-icon {
  width: 20%;
  align-self: center;
}

.card-body {
  padding: 1.25rem;
}

.card-text {
  color: #555;
}

.card-title {
  margin-bottom: 0.75rem;
}

/* About */

#about {
  background-color: #fff3f3;
}

#about .about-image {
  min-height: 10rem;
}

#about .about-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem 2.5rem;
}

#about .about-text h2 {
  color: #32404d;
}

#about .about-text p {
  font-size: 1rem;
  font-weight: 300;
  color: #999;
}

/* Portfolio */

#portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
}

#portfolio .portfolio-item .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.25s;
}

#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  color: #fff;
}

/* Contact & Form */

.form-group {
  margin-bottom: 1.5rem;
}

.form-group-textarea {
  height: 100%;
}

.form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;
  resize: none;
}

.form-control::placeholder {
  color: #999;
}

/* Footer */

.footer {
  padding: 2rem 0;
}

.footer p {
  margin: 0;
}
